{% extends "base.twig" %}

{% block head %}
	<title>{{ post.title }}</title>
{% endblock %}

{% block content %}

	 <div class="rectangle8">
<section>

			<div class="container mod-container">	
			<div class="contenuh1 h1">{{ post.title }}</div>
			<div class="contenu">
			{{ post.content }}
		</div>

</section></div>
{% endblock %}
