{% extends "base.twig" %}

{% block head %}
	<title>Galerie</title>
{% endblock %}

{% block content %}
	<div class="rectangle8">
		<div class="container mod-container pt-5">
			<div class="masonry">
				{% for post in posts %}
					<div class="grid">
						<img src="{{ Image(post.image) }}">
						<div class="grid__body">
							<div class="relative">
								<a class="grid__link" href="{{ post.link }}"></a>
							</div>
							<div class="mt-auto"></div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
