{% extends "base.twig" %}

{% block head %}
	<meta property="og:title" value="{{ post.title }}"/>
{% endblock %}

{% block content %}
    
	<div class="banners">
	Index
	</div>

</section>
{% endblock %}
